* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  margin: 0 auto;
}

.header heading {
  font-size: 32px;
}

.nav-list {
  text-align: center;
  margin: 0 auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  }

.nav-list-item {
  list-style: none;
  display: inline-block;
  padding: 15px 20px;
  margin: 0 auto;
}

.main {
  width: 800px;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.green1,.green2,.green3,.green4 {
  width: 200px;
  height: 200px;

}

.green1 {
  background-color:#e6ffe9;
}

.green2 {
  background-color: #cbffd3;
}

.green3 {
  background-color: #aeffbd
}

.green4 {
  background-color: #93ffab;
}

.yellow1,.yellow2,.yellow3,.yellow4 {
  width: 200px;
  height: 200px;

}

.yellow1 {
  background-color:#f3ffd8;
}

.yellow2 {
  background-color:#edffbe;
}

.yellow3 {
  background-color:#e9ffa5;
}

.yellow4 {
  background-color:#e4ff8d;
}

.blue1,.blue2,.blue3,.blue4 {
  width: 200px;
  height: 200px;
}

.blue1 {
  background-color:#d9e5ff;
}

.blue2 {
  background-color:#bad3ff;
}

.blue3 {
  background-color:#a4c6ff;
}

.blue4 {
  background-color:#8eb8ff;
}

footer {
  width: 100%;
  height: 120px;
  background-color: grey;
  color: #fff;
  line-height: 120px;
  text-align: center;
}

